@charset 'UTF-8';

.tetris {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.tetris__map-wrapper {
  margin: 0 auto;
  width: 350px;
  height: 700px;
  background-color: var(--color-d);
}

.tetris__game-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.tetris__title {
  font-size: 48px;
}

.tetris__dialog {
  font-size: 18px;
}

.tetris__banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 14px;
}

  .tetris__score {
    white-space: nowrap;
  }

  .tetris__timer {
    white-space: nowrap;
  }

.tetris__controls {
  display: flex;
  flex-direction: column;
  gap: 8px
}

@media only screen and (min-width: 720px) {
  .tetris {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
  }

  .tetris__map-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .tetris__right-column {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }
}

@media only screen and (min-width: 1200px) {
  .tetris {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
  }

  .tetris__map-wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .tetris__right-column {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}
