@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  /* Base numbers */
  --number-border-radius: 8px;
  --number-border-size: 2px;
  /* Components sizes */
  --number-form-border-size: var(--number-border-size);
  --number-form-border-radius: var(--number-border-radius);
  --number-header-focus-border-size: var(--number-border-size);
  --number-content-border-size: var(--number-border-size);
  --number-content-border-radius: var(--number-border-radius);
}

:root {
  /* Base colors */
  --color-white: #FFFFFF;
  --color-black: #000000;
  /* Palette of five colors */
  --color-a: #087E8B;
  --color-b: #FF5A5F;
  --color-c: #3C3C3C;
  --color-d: #F5F5F5;
  --color-e: #C1839F;
  /* Palette A -- monochromatic */
  --color-a-monocromatic-a: #0DC4D9;
  --color-a-monocromatic-b: #39959F;
  --color-a-monocromatic-c: #4ECBD9;
  --color-a-monocromatic-d: #055159;
  /* Palette B -- monochromatic */
  --color-b-monocromatic-a: #802D2F;
  --color-b-monocromatic-b: #FFA6A9;
  --color-b-monocromatic-c: #805354;
  --color-b-monocromatic-d: #CC474C;
  /* Palette C -- monochromatic */
  --color-c-monocromatic-a: #8A8A8A;
  --color-c-monocromatic-b: #573D3D;
  --color-c-monocromatic-c: #8A6060;
  --color-c-monocromatic-d: #D6D6D6;
  /* Palette D -- monochromatic */
  --color-d-monocromatic-a: #757575;
  --color-d-monocromatic-b: #F7ADAD;
  --color-d-monocromatic-c: #755252;
  --color-d-monocromatic-d: #C2C2C2;
  /* Palette E -- monochromatic */
  --color-e-monocromatic-a: #422D37;
  --color-e-monocromatic-b: #CC4E86;
  --color-e-monocromatic-c: #42192C;
  --color-e-monocromatic-d: #8F6176;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Base colors */
    --color-border: #4ECBD940;
    --color-background: var(--color-white);
    --color-text: var(--color-c);
    --color-text-header: var(--color-c);
    --color-link: var(--color-a);
    --color-link-hover: var(--color-a-monocromatic-a);
    --color-selection: var(--color-a-monocromatic-c);
    --color-fieldset-border: #4ECBD940;
    --color-table-header-background: var(--color-a);
    --color-table-header-text: var(--color-d);
    --color-table-item: var(--color-a-monocromatic-a);
    /* Components colors */
    --color-header-background: var(--color-a-monocromatic-c);
    --color-header-borderline: var(--color-a);
    --color-header-selection: var(--color-a-monocromatic-b);
    --color-header-logo: var(--color-white);
    --color-header-navigation-link: var(--color-white);
    --color-header-navigation-link-hover: var(--color-white);
    --color-footer-borderline: var(--color-a);
    --color-footer-text: var(--color-c);
    --color-content-borderline: var(--color-a);
    --color-content-item-borderline: #4ECBD940;
    --color-content-header-colored: var(--color-a-monocromatic-c);
    --color-content-header-colored-borderline: var(--color-a);
    --color-content-header-colored-selection: var(--color-a-monocromatic-b);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Base colors */
    --color-border: #4ECBD940;
    --color-background: var(--color-c);
    --color-text: var(--color-d);
    --color-text-header: var(--color-d);
    --color-link: var(--color-a);
    --color-link-hover: var(--color-a-monocromatic-a);
    --color-selection: var(--color-a-monocromatic-c);
    --color-fieldset-border: #4ECBD940;
    --color-table-header-background: var(--color-a-monocromatic-a);
    --color-table-header-text: var(--color-c);
    --color-table-item: var(--color-a);
    /* Components colors */
    --color-header-background: var(--color-a);
    --color-header-borderline: var(--color-a-monocromatic-c);
    --color-header-selection: var(--color-a-monocromatic-b);
    --color-header-logo: var(--color-white);
    --color-header-navigation-link: var(--color-white);
    --color-header-navigation-link-hover: var(--color-white);
    --color-footer-borderline: var(--color-a);
    --color-footer-text: var(--color-d);
    --color-content-borderline: var(--color-a);
    --color-content-item-borderline: #4ECBD940;
    --color-content-header-colored: var(--color-a);
    --color-content-header-colored-borderline: var(--color-a-monocromatic-c);
    --color-content-header-colored-selection: var(--color-a-monocromatic-b);
  }
}
